.body {
    margin: 0;
    font-family: sans-serif;
}

.navbar {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    margin: 0;
}

.menu-item {
    display: inline;
}

.menu-item:not(:last-child) {
    margin-right: 72px;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #b33a23;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
}

.img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.container {
    width: 1145px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 0;
    margin-bottom: 40px;
}

.text {
    text-align: center;
    font-weight: 400;
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 30px;
}

.btn {
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #b33a23;
    color: #fff;
    border: 0;
    border-radius: 4px;
}

.page-footer{
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 40px;
}

.footer-text {
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #373737;
    margin-top: 0;
    margin-bottom: 0;
}


